@import "letters.css";
@import "animations.css";

:root {
    --box-dimension: 200px;
}

game {
    display: flex;
    flex-direction: column;
    width: 600px;
}

row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

column {
    border: 1px solid black;
    width: var(--box-dimension);
    height: var(--box-dimension);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.winner {
    animation: spin 2s;
    border-width:7px;
    transition: 2s all ease;
}

.toast {
    top: 20px;
}

.toast > .body {
    font-family: 'CoreCircus', sans-serif;
    font-size: 3em;
}
